/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Corpo */
body {
    background-color: #ffffff;
    color: #333;
}

/* Cabeçalho */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
}

.left-info, .right-info {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.top-bar span, .top-bar i {
    margin-right: 15px;
}

.top-bar input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
}

/* Conteúdo Principal */
.content {
    text-align: center;
    margin: 40px 0;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

p {
    color: #555;
    margin-bottom: 20px;
}

.line {
    width: 1000px;
    border: 1px solid #0090b8;
    margin: 10px auto 30px;
}

/* Container Formulário */
.form-container-login {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    width: 80%;
}

/* Seção de Cadastro */
.register-section, .login-section {
    border: 2cm;
    padding: 20px;
    width: 40%;
    text-align: left;
}

.register-button, .login-button {
    background-color: #0090b8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.register-button:hover, .login-button:hover {
    background-color: #007a98;
}

label {
    display: block;
    margin: 10px 0 5px; /* Espaço entre o label e o campo */
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Seção de Login */
.login-section form {
    display: flex;
    flex-direction: column; /* Coloca os elementos em uma coluna */
    gap: 15px; /* Espaçamento entre os campos */
}

.login-button {
    margin-top: 1px; /* Espaçamento entre o último campo (senha) e o botão */
    width: 40%;
    text-align: center;
}

.forgot-password {
    margin-top: 20px;
    font-size: 0.9rem;
    text-align: center;
}

.forgot-password a {
    color: #0090b8;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
